* {
    margin: 0;
  }

header {
    background-image: linear-gradient(to right, rgba(212, 25, 25, 0.849), rgb(86, 65, 65));
    height: 100px; }
  
 #logo {
        font-size: 30px;
        padding: 30px;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: aliceblue;
      }

 #navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

#authentication {
        display: flex;
        padding-right: 100px;
      } 
      
#container {
  height: 100lvh;
  margin: 30%;
  width: 70lvh;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  border-color: rgb(205, 25, 25);
  border-radius: 10%;
  box-shadow: 0 0 80px rgba(85, 27, 27, 0.3);
}

#signin {
    text-align: center;
    margin-top: 10%;
    color: rgb(41, 6, 6);
}

#loginForm{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}


input[type="email"],
input[type="password"]
 {
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  border: 1px solid rgb(165, 51, 51);
  border-radius: 4px;
  color: rgb(165, 42, 42);
  font-size: 16px;;
}

#resetPassword{
    margin-left: 35%;
    border: 1px solid rgb(165, 51, 51);
    border-radius: 4px;
    width: 30%;
    height: 5%;
    margin-top: 20px;
}

#signinButton {
    width: 10px;
  }

#resetPassword:hover
{
    background-color: rgb(61, 5, 5);
    color: aliceblue;
}

#signinButton:hover {
    background-color: #831010;
  }